<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav>
        <a href='../'>Return Home</a>
        <a href='/flights'>See All Flights</a>
        <a href='/flights/new'>Add New Flight</a>
      </nav>