<%- include('./partials/header.ejs') -%>
<h1>Flight Tracker</h1>
  <div id='main'>Welcome to the world's premiere flight tracking service, where you have the incredible capabilities of generating random tickets for flights between your choice of five different airports. The world has never been so interconnected.</div>

<%- include('./partials/footer.ejs') -%>

