body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr, td {
  font-weight: 700;
  background-color: blue;
  color: red;
  margin: 40px;
}

table, tr, td {
  color: red;
  border: 1px solid;
}




