body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  font: 14px;
  color: #222;
}

a {
  color: #00B7FF;
}

table {
  display: flex;
  margin: 0;
}

td {
  width: 100px;
}

.head-row {
  font-weight: 700;
  /* display: inline; */
}

tr {
  display: block;
}

p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.more-details {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  color: #107da8;
}


section > h3, div {
 display: inline;
 min-width: 65px;
}

section > h3 {
  text-decoration: underline;
}

section {
  display: flex;
}

#sort-by {
  margin-top: 15px;
  padding-top: 10px;
  border-top: solid 2px #222;
  width: 50%
}

.flight-index {
  border-top: solid 1px rgb(145, 141, 141)
}

#flight-destinations {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

#main {
  text-align: center;
}







