<%- include('../partials/header.ejs') -%>

    <h1>Add a New Flight</h1>

    <form action='/flights' method='Post'>
        <label>Airline:
            <input type='text' name='airline'>
        </label>
        <br>
        <label>Airport:
            <select name='airport'>
                <option value='AUS'>AUS</option>
                <option value='DFW'>DFW</option>
                <option value='DEN' selected>DEN</option>
                <option value='LAX'>LAX</option>
                <option value='SAN'>SAN</option>
            </select>
        </label>
        <br>
        <label>Flight Number:
            <input type='number' name='flightNo'>
        </label>
        <br>
        <label>Departure Date:
            <input type='datetime-local' name='departs' value='<%=departsDate%>'>
        </label>
        <br>
        <button type='submit'>Add Flight</button>
    </form>

    <%- include('../partials/footer.ejs') -%>